<div class="checkout-container container">
    <div class="row">
        <div class="col-md-8">
            <div class="consumer-details">
                <h2>
                    Checkout
                </h2>
                <form>
                    <h4>
                    Billing Details
                    </h4>
                    <fieldset>
                        <div class="form-group inline-formgroup">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="John Doe">
                        </div>
                        <div class="form-group inline-formgroup">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" placeholder="test@gmail.com">
                        </div>
                        <div class="form-group inline-formgroup">
                            <label for="mobile">Mobile Number</label>
                            <input type="text" class="form-control" id="mobile" placeholder="9833002843">
                        </div>
                    </fieldset>
                    <h4>
                    Shopping Info
                    </h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="address">Your Address</label>
                            <input type="text" class="form-control" id="address" placeholder="">
                        </div>
                        <div class="form-group inline-formgroup">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" id="zip" placeholder="">
                        </div>
                        <div class="form-group inline-formgroup">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Mumbai">
                        </div>
                        <div class="form-group inline-formgroup">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" placeholder="Maharashtra">
                        </div>
                    </fieldset>
                    <h4>
                     Payment Details
                    </h4>
                    <fieldset>
                        <h6>Payment Method</h6>
                        <div class="radio-group">
                            <div class="form-check">
                            <input class="form-check-input card-radio" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Debit / Credit Card
                            </label>
                           </div>
                        <div class="form-check">
                            <input class="form-check-input cash-radio" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Cash on Delivery
                            </label>
                        </div>
                        </div>
                        <div class="payment-option">
                            <div class="e-money">
                                <fieldset>
                                    <div class="form-group inline-formgroup">
                                        <label for="e-money-number">Debit / Credit Card Number</label>
                                        <input type="text" class="form-control" id="e-money-number" placeholder="238521993">
                                    </div>
                                    <div class="form-group inline-formgroup">
                                        <label for="e-money-pin">PIN</label>
                                        <input type="text" class="form-control" id="ee-money-pin" placeholder="6891">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="cash-on-delivery none">
                                <img src="assets/img/icon-cash-on-delivery.svg" alt="cash-on-delivery" class="cash-on-delivery-img" />
                                <p>The ‘Cash on Delivery’ option enables you to pay in cash when our delivery courier arrives at your residence. Just make sure your address is correct so that your order will not be cancelled.</p>
                            </div>
                        </div>
                    </fieldset>
                </form>   
            </div>
        </div>
         <div class="col-md-4">
            <div class="cart-details">
                <h2>Summary</h2>
                <ul class="cart-list">
                </ul>
                <div class="checkout-total">
                    <span>
                        TOTAL
                    </span>
                    <span class="total-span">
                        
                    </span>
                </div>
                <div class="shipping-charges">
                     <span>
                        SHIPPING CHARGES
                    </span>
                    <span>
                        <b>
                            $50.00
                        </b>
                    </span>
                </div>
                <div class="checkout-final-total">
                     <span>
                        GRAND TOTAL
                    </span>
                    <span class="final-total-span">
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>