<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="featured-title">
                <span>/</span>
                Featured
            </h2>
        </div>
    </div>
    <!--Products Container-->
    <div class="products-outer">
        
    </div>
</div>