<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="footer-inner">
                <img src="../../assets/img/logo-white.svg" alt="footer logo" class="img-fluid" />
                <div class="social-icons">
                    <span class="facebook">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span class="twitter">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <span class="instagram">
                        <i class="fa fa-instagram"></i>
                    </span>
                </div>
                <div class="copyright">
                    Copyright &copy; 2022 The Comfy Store<br /> All rights reserved
                </div>
            </div>
        </div>
    </div>
</div>