<!--Hero Section -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-slanted">Rest, Relax, Unwind</h1>
                <h3>Embrace your choices - we do</h3>
                <a href="products.html" class="hero-show-btn">Show Now</a>
            </div>
        </div>
    </div>
</section>