<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="" alt="" class="single-product-image" />
        </div>
        <div class="col-md-6">
            <div class="single-product-container">
                <h2 class="single-product-title"></h2>
                <h5 class="single-product-company text-slanted"></h5>
                <p class="single-product-price"></p>
                <div class="single-product-colors"></div>
                <p class="single-product-desc"></p>
                <button class="addToCartBtn btn" data-id="id" data-ol-has-click-handler="">ADD TO CART</button>
            </div>
        </div>
    </div>
</div>