<div class="page-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-hero-title">Home / Products</h3>
            </div>
        </div>
    </div>
</div>