.navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    @include media-breakpoint-up(lg) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.navbar-collapse {
    position: fixed;
    top: 1rem;
    background: $white;
    width: 90vw;
    left: auto;
    color: black;
    z-index: 11;
    height: 95vh;
    right: 20px;
    padding: 4rem;

    @include media-breakpoint-up(md) {
       position: relative;
       top: auto;
       padding: initial;
       background: transparent;
    }
}
