.about-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.about-title span {
    color: $primary-500;
    font-size: 0.85em;
    margin-right: 1rem;
}

.about-text {
    line-height: 2;
    max-width: 45em;
    margin: 0 auto;
    margin-top: 2rem;
    color: $grey-600;
}