.section {
    padding: 5rem 0rem;
}

.featured-title {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    span {
        color: $primary-500;
        font-size: 0.95em;
        margin-right: 1rem;
    }
}

.featured {
    margin: 3rem auto 2rem auto;

    .product {
        margin-bottom: 0.75rem;
    }

    footer {
        padding: 0.75rem 0;
        text-align: center;

        .product-name {
            margin-bottom: 0.25rem;
            text-transform: capitalize;
            letter-spacing: $letterSpacing;
            color: $grey-500;
        }

        .product-price {
            margin-bottom: 0;
            color: $grey-800;
            font-weight: 700;
            font-size: 0.88rem;
            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }
    }
}

.all-products-btn-container {
    text-align: center;
}

.product-container {
    position: relative;

    img {
        height: 15rem;
        object-fit: cover;
        border-radius: $borderRadius;

        @include media-breakpoint-up(lg) {
            height: 13rem;
        }
    }

    .product-icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        transition: $transition;

        .product-icon {
            width: 2.25rem;
            height: 2.25rem;
            background: $primary-500;
            color: $white;
            border-radius: 50%;
            transition: $transition;
            cursor: pointer;
            font-size: 1rem;
            border-color: transparent;
            margin: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: $primary-700;
                text-decoration: none;
            }
        }
    }

    &:hover {
        .product-icons {
            opacity: 1;
        }
    }
}