.page-hero {
    min-height: 20vh;
    display: flex;
    align-items: center;
    background: $grey-100;
    color: $grey-600;

    .page-hero-title {
        font-weight: 500;
        margin: 0px;
    }
}