{% set pageTitle = 'COMFY | HOME' %}
{% set pageID = 'home' %}

{% set linkTarget = '_blank' %}


{% extends "../templates/layouts/layout_default.njk" %}

{% block hero %}
	{% include "../templates/partials/_hero.njk" %}
{% endblock %}



