{% set pageTitle = 'COMFY | PRODUCT' %}
{% set pageID = 'product' %}

{% set linkTarget = '_blank' %}


{% extends "../templates/layouts/layout_base.njk" %}

{% block hero %}
		{% include "../templates/partials/_sitemap.njk" %}
{% endblock %}

{% block main %}
	{% include "../templates/partials/_single-product.njk" %}
{% endblock %}